nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
}

#welcome-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}