#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color:white;
}

table {
    width: 100%;
}

thead * {
    width: fit-content;
    padding: 1rem;
}