nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 0;
    background-color: rgb(52, 52, 52);
    color: white;
}

nav div {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

#welcome-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(52, 52, 52);
    color: white;
    padding: 1rem;
}

a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

a:hover {
    text-decoration: underline;
}

