nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(74, 74, 74);
}

nav div {
    display: flex;
    gap: 1rem;
    justify-content: center;
}


#welcome-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0);
    color: white;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
    transition: background-color 0.3s ease;
    padding: 0.5rem 0.5rem;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(181, 181, 187);
}

