#registration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background: rgb(185, 185, 207);
    width: 500px;
    height: 500px;
    transform: translate(0vh, 15vh);
    border-radius: 50px;
}

#registration {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

#registration div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
}